header{
    font-size: 60px;
    font-family: Lobster, Arial;
    display: flex;
    flex-direction: row;
    width: 1fr;
    justify-content: center;
    margin: 20px 0px;
    color: white;
    letter-spacing: 3px;
    text-shadow: 2px 2px 3px black;
}